{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">
            Django App
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatum cum harum dolores quasi ducimus cupiditate totam quam voluptates temporibus dolorum, quo animi nobis nemo delectus iste laudantium, quas vitae suscipit, non sunt iure. Tempore laudantium sequi eos, doloribus odit impedit qui. Pariatur, aut ea repudiandae perspiciatis necessitatibus minus nulla expedita, quidem aliquam, recusandae consequuntur accusantium dolorum totam? Esse placeat magni reiciendis quod nobis dolorem nam, repudiandae, facilis ex id ea accusantium expedita quaerat aliquam dolores eius sed ratione perferendis aspernatur molestiae tenetur, earum minus odit! Quibusdam asperiores voluptate magnam animi officia culpa vero, molestiae quam quidem, quaerat maxime nam?
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>
{% endblock%}
